{% extends "todo_app/main.html" %}
{% block content%}


<div class="header-bar">
    <h1>Sign Up</h1>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}

        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <label>{{form.password2.label}}</label>
        {{form.password2}}

        {% comment %} {{form.as_p}} {% endcomment %}
        <input style="margin-top:10px;" class="button" type="submit" value="Sign Up">
    </form>
    <p>Already have an account?<a style="color:#007EBD;" href="{% url 'login' %}"> Sign In</a></p>
</div>


{% endblock content%}